.button {
  padding: 0.6em 1.2em;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;

  min-width: 5rem;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.button:disabled {
  background-color: #dbdbdb;
  cursor: not-allowed;
  opacity: 0.7;
}

.button.primary {
  background-color: #007bff;
  color: #ffffff;
}
.button.primary:hover:not(:disabled) {
  background-color: #0056b3;
}

.button.danger {
  background-color: #ff4d4f;
  color: #ffffff;
}
.button.danger:hover:not(:disabled) {
  background-color: #d9363e;
}
