.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
  box-sizing: border-box;
}

@media (max-width: 64rem) {
  .container {
    padding: 1.5rem 1.25rem;
  }
}

@media (max-width: 48rem) {
  .container {
    padding: 1rem 1rem;
  }
}
