/*  기본 AuthLayout  */
.auth-layout {
  height: calc(100vh - var(--header-height));
  display: flex;
  justify-content: center;
  padding: clamp(1.5rem, 5vh, 3rem) 1rem;
}

/*  Align별로 Variants  */
.auth-layout--top {
  align-items: flex-start;
}

.auth-layout--center {
  align-items: center;
}

/*  페이지 Variants  */
.auth-layout--login {
  height: 80vh;
  padding-top: clamp(1rem, 4vh, 2rem);
  padding-bottom: clamp(1rem, 4vh, 2rem);
}

.auth-layout--signup {
  padding-top: clamp(1rem, 5vh, 5rem);
}
